{% extends 'layout.html' %}
{% block body %}

<h2>Incomplete Tasks</h2>
{% for task in all_tasks %}
    {% if task.completed == False %}
        {{ task.id }}
        {{ task.description }} 
        {{ task.date_created }} 
        <form action="{{url_for('update', id=task.id)}}">
        <input type="submit" value="Update">
        </form>
        <form action="{{url_for('delete', id=task.id)}}">
        <input type="submit" value="Delete">
        </form>
        <br>
    {% endif %}
{% endfor %}

<h2>Complete Tasks</h2>
{% for task in all_tasks %}
    {% if task.completed == True %}
        {{ task.id }}
        {{ task.description }} 
        {{ task.date_created }} 
        <form action="{{url_for('update', id=task.id)}}">
        <input type="submit" value="Update">
        </form>
        <form action="{{url_for('delete', id=task.id)}}">
        <input type="submit" value="Delete">
        </form>
        <br>
    {% endif %}
{% endfor %}

{% endblock body%}